.container{
    height: 300px;
    width: 500px;
    border: 1px solid red;
    display: flex;
    /* align-items: center; */
}
#hide{
    height: 20px;
    width: 50px;
    border: 1px solid black;
    background-color: green;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}